body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url("images/light-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
}

#pageForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 3vh;
  height: 5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border-radius: 20px;
  border: 1px solid rgba(240, 237, 233, 0.322);
  color: rgba(43, 42, 40, 0.5);
  outline: none;
  background-color: rgba(255, 255, 255, 0.699);
  margin: 15px;
}

button {
  font-size: 3vh;
  height: 5vh;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(240, 237, 233, 0.322);
  color: rgba(240, 237, 233, 0.774);
  background-color: rgba(43, 42, 40, 0.5);
}

button:hover {
  cursor: pointer;
  background-color: #5d3e5a;
}

h1 {
  font-size: 15vh;
  margin: 3vh;
  font-family: "Zen Loop", cursive;
  color: rgba(43, 42, 40, 0.322);
}

h2 {
  font-family: "Roboto", sans-serif;
  color: rgba(43, 42, 40, 0.5);
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.2em;
}

.authors {
  font-family: "Roboto", sans-serif;
  color: rgba(43, 42, 40, 0.34);
}

#cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

.card {
  display: flex;
  border-radius: 15px;
  border: 1px solid rgba(240, 237, 233, 0.322);
  background-color: rgba(199, 197, 192, 0.75);
}
.card__left {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  width: 50%;
  border-radius: 15px;
}
.card__desc {
  text-align: left;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.548);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(93, 62, 90, 0.3);
}
